.btn-theme {
  background: #012c6d;
  border: 2px solid #012c6d;
}

.btn-theme:hover {
  background: #0f294a;
  border: 2px solid #0f294a;
}

.top-header {
  background: #012c6d;
}

.setting-button {
  background: #012c6d;
}

.btn-1 {
  color: #012c6d;
  border: 2px solid #012c6d;
}

.btn-1:before {
  background: #012c6d;
  border-color: #012c6d;
}

.search-area-box-3 .price {
  color: #012c6d;
}

.category-posts ul li a:hover {
  color: #012c6d;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #012c6d;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  background-color: #012c6d;
}

.heading-rooms h3 {
  color: #012c6d;
}

.heading-rooms p i {
  color: #012c6d;
}

.pagination .page-item a:hover {
  background: #fba466;
  border-color: #fba466;
}

.archives ul li a:hover {
  color: #012c6d;
}

.tags-box ul li a:hover {
  border: 1px solid #012c6d;
  background: #012c6d;
}

.btn-1 span {
  color: #012c6d;
}

.btn-2 {
  background: #012c6d;
  border: solid 2px #012c6d;
}

.btn-2:hover {
  color: #012c6d;
  border: solid 2px #012c6d;
}

.btn-2:before {
  background: #012c6d;
}

.btn-3:hover {
  color: #012c6d;
}

.btn-5:after {
  background: #012c6d;
}

.btn-5 {
  color: #012c6d;
  border: 2px solid #012c6d;
}

.about-hotel-alpha .about-content-section h5 span {
  color: #012c6d;
}

.about-hotel-alpha .about-content-section h5 span {
  color: #012c6d;
}

#main-header-2 .btn-4 {
  color: #012c6d;
}

#main-header-3 .navbar-expand-lg .navbar-nav .active .nav-link {
  color: #012c6d;
}

#main-header-3 .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #012c6d;
}

.header-search .btn-default,
.header-search .btn-default:focus,
.header-search .btn-default:hover {
  background: #012c6d;
}

.comon-slick .csi2 .slick-next:hover {
  background: #012c6d;
}

.about-hotel-alpha .about-img-section .about-box-Experience {
  background: #012c6d;
}

.about-hotel-alpha-3 h5 span {
  color: #012c6d;
}

.about-hotel-alpha-2 h5 span {
  color: #012c6d;
}

.about-hotel-alpha-3 .carousel-indicators .active {
  background: rgb(244, 164, 96);
}

.about-content-section .network-list li .icon {
  color: #012c6d;
}

.about-content-section .network-list li:hover h4 {
  color: #012c6d;
}

.about-content-section .network-list li:hover .icon {
  background: #012c6d;
}

.hotel-box .detail h3 a:hover {
  color: #012c6d;
}

.hotel-box:hover .detail h3 a {
  color: #012c6d;
}

.services-box-2 i {
  background: #012c6d;
}

.services-box-2:hover h3 a {
  color: #012c6d;
}

.testimonials-3::before {
  background: #012c6d;
}

.testimonials-3 .carousel-indicators .active {
  background: #012c6d !important;
}

.popular-places-item .read-more-btn:hover {
  background: #012c6d;
  color: #fff;
}

.read-more-btn {
  color: #012c6d;
}

.blog-1 .detail .post-meta span a i {
  color: #012c6d;
}

.blog-1 .post-meta ul li i {
  color: #012c6d;
}

.blog-1 .post-meta ul li i {
  color: #012c6d;
}

.blog-1 .date-box {
  background: #012c6d;
}

.blog-1 .date-box::after {
  border-right: 10px solid #012c6d;
}

.blog-1:hover .date-box {
  color: #012c6d;
}

.blog-1:hover .date-box span {
  color: #012c6d;
}

.blog-1 .post-meta ul li i {
  color: #012c6d;
}

.blog-1 .detail h3 a:hover {
  color: #012c6d;
}

.partners-2::after {
  background: #012c6d;
}

.recent-news-item h3 a:hover {
  color: #012c6d;
}

.hotel-box-3 h3 span {
  color: #012c6d;
}

.hotel-box-3 .text a:hover {
  color: #012c6d;
}

.hotel-box-3:hover .read-more-btn:hover {
  background: #012c6d;
  color: #fff;
}

.hotel-box-3:hover .read-more-btn {
  color: #012c6d;
}

.comon-slick .csi2 .slick-prev {
  color: #012c6d;
}

.comon-slick .csi2 .slick-prev:hover {
  background: #012c6d;
}

.services-box-3.df-box:before {
  background: #012c6d;
}

.services-box-3 i {
  color: #012c6d;
}

.services-box-3:hover h5 a {
  color: #012c6d;
}

.events-box-3 .event-title:hover {
  color: #012c6d;
}

.events-box-3 .event-title a:hover {
  color: #012c6d;
}

.events-box-3:hover .bordered-btn {
  border: solid 2px #fba466;
  background: #fba466;
}

.events-box-3 .meta .category {
  background: #fba466;
}

.events-box-3:hover .event-thumb {
  background: #012c6d;
}

.counters-2 .counter-box .counter-style .counter-num {
  color: #012c6d;
}

.staff-box-1 .content h4 a:hover {
  color: #012c6d;
}

.testimonial-5 .testimonial-info .job {
  color: #012c6d;
}

.blog-4:hover .post-date {
  background: #fba466;
  color: #fff;
}

.newsletter form .btn-small {
  border: solid 1px #012c6d;
  background: #012c6d;
}

#banner-4 .btn-4 {
  color: #012c6d;
}

#banner-4 .btn-4:hover {
  background: #012c6d;
}

#banner-4 .btn-4:after {
  background: #012c6d;
}

#banner-2 .banner-test-info .btn-5:hover {
  border: 2px solid #012c6d;
}

.search-area-box-2 h4 span {
  color: #012c6d;
}

.btn-4 {
  background: #012c6d;
}

.btn-4:after {
  background: #0f294a;
}

#banner-3 h3 span {
  color: #012c6d;
}

.about-text ul li i {
  color: #012c6d;
}

.hotel-box-4 .detail h3 a {
  color: #012c6d;
}

.hotel-box-4 .carousel-indicators .active {
  background: #012c6d;
}

.our-facilties-section-3 .our-facilties-2 ul li:hover {
  background: #012c6d;
}

.our-facilties-section-3 .our-facilties-2 ul li i {
  border: solid 2px #fba466;
  background: #fba466;
}

.events-box-2 .content .date-author {
  color: #012c6d;
}

.events-box-2:hover .content,
.events-box-2:hover .content:after {
  background: #012c6d;
}

.events-box-2 .date {
  color: #012c6d;
}

.events-box-2:hover .date {
  background: #012c6d;
  color: #fff;
}

.staff-box-3 .detail h3 a:hover {
  color: #012c6d;
}

.staff-box-3::before {
  background: #012c6d;
}

.blog-2 .date-box {
  color: #012c6d;
}

.blog-2 .detail h3 a:hover {
  color: #012c6d;
}

.intro-section {
  background: #012c6d;
}

#banner-4 h1 span {
  color: #012c6d;
}

#banner-4 .carousel-indicators .active {
  background: #012c6d;
}

.hotel-box-list-2.hbl-2 .detail h3 span {
  color: #012c6d;
}

.hotel-box-list-2.hbl-2 .detail h3 a:hover {
  color: #012c6d;
}

.hotel-box-list-2.hbl-2 .price {
  color: #012c6d;
}

.hotel-box-list-2 .detail h3 a:hover {
  color: #012c6d;
}

.hotel-box-list .detail h3 a:hover {
  color: #012c6d;
}

.sub-banner .breadcrumb-item a {
  color: #012c6d;
}

.sub-banner .breadcrumb-item + .breadcrumb-item::before {
  background: #012c6d;
}

.pagination .page-item .active {
  background: #fba466;
  border-color: #fba466;
  color: #fff;
}

.room-info-heading .room-info-heading-inner h2 a:hover {
  color: #012c6d;
}

.room-info-heading .room-info-heading-inner h2 span {
  color: #012c6d;
}

.room-info-heading .room-info-heading-inner ul li i {
  color: #012c6d;
}

.for-sale {
  background: #012c6d;
}

.comment-meta-reply a {
  background: #012c6d;
}

.extra-service-item .price {
  color: #012c6d;
}

.amenities ul li i {
  color: #012c6d;
}

.house-rules ul li i {
  color: #012c6d;
}

.latest-tweet a {
  color: #012c6d;
}

.services-box:hover h3 a {
  color: #012c6d;
}

.services-box:before {
  background: #012c6d;
}

.services-box:after {
  background: #012c6d;
}

.services-box i {
  color: #012c6d;
}

.services-box .icon i {
  color: #012c6d;
}

.events-box .date-box {
  color: #012c6d;
}

.events-box h1 a:hover {
  color: #012c6d;
}

.option-panel h2 {
  color: #012c6d;
}

.staff-box-2 .detail h4 a:hover {
  color: #012c6d;
}

.staff-box-2 .content h1 a {
  color: #012c6d;
}

.testimonial-4 .testimonial-item-new .left-line::before {
  background: #012c6d;
}

.testimonial-4 .testimonial-item-new .author-img .icon {
  background: #012c6d;
}

.testimonial-4 .testimonial-item-new .author-content h5 .desig {
  color: #012c6d;
}

.blog-3 .post-meta li i {
  color: #012c6d;
}

.blog-3 .title a:hover {
  color: #012c6d;
}

.contact-1 .contact-item i {
  color: #012c6d;
}

.login-section .info h1 span {
  color: #012c6d;
}

.pricing-1 .plan-header .plan-price {
  color: #012c6d;
}

.pricing-1::before {
  background: #012c6d;
}

.pricing-1 .pricing-btn {
  border: solid 1px #012c6d;
  color: #012c6d;
}

.list-inline-listing .active {
  background: #012c6d;
}

.list-inline-listing li:hover {
  background: #012c6d;
}

#page_scroller {
  background: #0f294a;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  background-color: #012c6d;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  background: #012c6d;
}

.login-section .form-section input[type="checkbox"]:checked + label:before {
  color: #fff;
  background: #012c6d;
  border: solid 1px #012c6d;
}

.get-in-touch .sidebar-contact-info:hover .icon {
  background: #012c6d;
  color: #fff;
}

.sidebar-heading-section .sidebar-navigation .active {
  color: #012c6d;
}

.sidebar-heading-section .sidebar-navigation ul li a:hover {
  color: #012c6d !important;
}

#dismiss {
  color: #012c6d;
}

.search-area-box-1 .search-contents h3 span {
  color: #012c6d;
}

#main-header-4 .contact-now .left {
  background-color: #0f294a;
}

#top-header-2::after {
  background-color: #012c6d;
}

#top-header-2 .top-social-media li a:hover {
  background: #012c6d !important;
}

#main-header-4 .header-right {
  background-color: #012c6d;
}

#main-header-1 .navbar-expand-lg .navbar-nav .active .nav-link {
  color: #012c6d;
}

#main-header-1 .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: white;
}

#main-header-1 .dropdown-menu a:hover {
  background: #012c6d !important;
  border-bottom: solid 1px #012c6d;
}

.booling-details-box .carousel-indicators .active {
  background: #012c6d;
}

.stepwizard .btn-circle {
  border: 2px solid #012c6d;
  color: #012c6d;
}

.stepwizard .btn-circle:hover {
  border: 2px solid #012c6d;
  background: #012c6d;
}

.stepwizard .btn-success {
  background: #012c6d !important;
  border: 2px solid #012c6d !important;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
  background: #012c6d;
  color: #fff;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
  background: #012c6d;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #012c6d;
}
